<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Acorn vehicle interface.</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/leaflet.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/map.css') }}"
    />
  </head>

  <body>
    <div id="app">
      <br />
      <div class="container-fluid">
        {% include "control-panel.html" %}
        <div class="row">
          <div class="col-sm-7 col-lg-9">
            {% include "map.html" %}
          </div>
          <div id="robot_detail" class="col-sm-5 col-lg-3">
          {% include "robot-cardview.html" %}
          </div>
          {% include "plots.html" %}
        </div>
      </div>
    </div>
    <!--app-->

    <script src="{{ url_for('static', filename='js/lib/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/socket.io.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/vue.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/leaflet.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/Leaflet.Editable.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/leaflet.rotatedMarker.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/vue2-leaflet.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/vue-plotly.umd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/store.js') }}"></script>
    <script src="{{ url_for('static', filename='js/actions.js') }}"></script>
    <script src="{{ url_for('static', filename='js/components.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>
