<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Acorn vehicle interface.</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/leaflet.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/map.css') }}"
    />
  </head>

  <body>
    <div id="app">
      <br />
      <div class="container-fluid">
        {% include "control-panel.html" %}
        <plots
          v-bind:show-plots="showPlots"
          :class="{collapse: !showPlots}"
          inline-template
        >
          <div>
            <div class="col-lg">
              <div
                id="plot_div_distance"
                style="width: 100%; height: 300px"
              ></div>
              <div
                id="plot_div_angles"
                style="width: 100%; height: 300px"
              ></div>
            </div>
            <div class="col-lg">
              <div
                id="plot_div_distance_rates"
                style="width: 100%; height: 500px"
              ></div>
              <div
                id="plot_div_angle_rates"
                style="width: 100%; height: 300px"
              ></div>
            </div>
          </div>
        </plots>

        <div class="row">
          <div class="col-lg">
            {% include "map.html" %}
          </div>
          <div id="robot_detail" class="col-lg-2">
            <div id="robots-view">
              <div class="card" style="width: 18rem">
                {% include "robot-cardview.html" %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--app-->

    <script src="{{ url_for('static', filename='js/lib/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/vue.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/leaflet.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/Leaflet.Editable.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/leaflet.rotatedMarker.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/vue2-leaflet.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/plotly-latest.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/store.js') }}"></script>
    <script src="{{ url_for('static', filename='js/actions.js') }}"></script>
    <script src="{{ url_for('static', filename='js/components.js') }}"></script>
    <script src="{{ url_for('static', filename='js/view.js') }}"></script>
  </body>
</html>
