<control-panel
  v-bind:path-names="pathNames"
  v-bind:map="map"
  inline-template
>
  <div class="row">
    <div class="col-sm-3">
      <h1>Acorn control</h1>
    </div>

    <div class="col-md-5">
      <div class="input-group" id="dropdown-container">
        <div class="input-group" role="group">
          <button
            type="button"
            class="btn btn-primary mr-1"
            @click="loadDensePath"
          >
            Load Dense Points
          </button>
          <button
            type="button"
            class="btn btn-primary mr-1"
            @click="togglePolygon"
            id="btn-start-polygon"
          >
            ${this.isDrawingPolygon ? "Stop" : "Start"} Polygon
          </button>
          <button type="button" class="btn btn-primary mr-1" @click="saveGPSPath">
            Save GPS path
          </button>
        </div>
        <button
          class="btn btn-secondary dropdown-toggle mr-1"
          type="button"
          id="dropdownMenuButton"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          @click="loadPathList"
        >
          Select a path
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li v-for="name in pathNames" :key="name">
            <a
              class="dropdown-item"
              @click="selectPath(name)"
              href="javascript:void(0)"
            >
              ${name}
            </a>
          </li>
        </ul>
        <button type="button" class="btn btn-primary mr-1" @click="saveAs">
          Save as
        </button>
        <input
          type="text"
          class="form-control mr-1"
          placeholder="Path name"
          aria-label="Path name"
          aria-describedby="basic-addon2"
          autocomplete="off"
          v-model="pathName"
        />
        <button
          type="button"
          class="btn btn-danger mr-1"
          id="btn-delete"
          data-bs-toggle="modal"
          data-bs-target="#deleteModal"
        >
          Delete Path
        </button>
      </div>
      <!--input-group-->
    </div>

    <div class="col-sm">
      <div class="btn-group" role="group" aria-label="Start">
        <button type="button" class="btn btn-info" @click="incStart(-1)">
          &lt;
        </button>
        <button type="button" class="btn btn-secondary" disabled>Start</button>
        <button type="button" class="btn btn-info" @click="incStart(1)">
          &gt;
        </button>
      </div>
      <div class="btn-group" role="group" aria-label="End">
        <button type="button" class="btn btn-info" @click="incEnd(-1)">
          &lt;
        </button>
        <button type="button" class="btn btn-secondary" disabled>End</button>
        <button type="button" class="btn btn-info" @click="incEnd(1)">
          &gt;
        </button>
      </div>
      <div class="btn-group" role="group" aria-label="Remove">
        <button type="button" class="btn btn-info" @click="incRemove(-1)">
          &lt;
        </button>
        <button type="button" class="btn btn-secondary" disabled>Remove</button>
        <button type="button" class="btn btn-info" @click="incRemove(1)">
          &gt;
        </button>
      </div>
      <button type="button" class="btn btn-danger" @click="modifyDisplayedPath">
        Modify Displayed Path
      </button>
    </div>

    <div class="modal" id="deleteModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirm delete path</h5>
            <button
              type="button"
              class="close"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete the selected path?</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-primary"
              @click="deletePath"
              data-bs-dismiss="modal"
            >
              Permanently Delete
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--deleteModal-->
  </div>
</control-panel>
